---
- name: testing playbook
  hosts: "{{ target_host | default('sandbox') }}"
  gather_subset:
    - "!hardware"
  tasks:
  - name: include default test script, ping!
    include_tasks: ping.yml
  - name: adding repo without proxy
    apt_repository:
      repo: 'ppa:nginx/stable'
      state: present
      codename: trusty
    become: yes
    register: ret
    ignore_errors: yes
  - debug:
      var: ret

  - name: removing repo without proxy
    apt_repository:
      repo: 'ppa:nginx/stable'
      state: absent
      codename: trusty
    become: yes
    register: ret
    ignore_errors: yes
  - debug:
      var: ret


  - name: adding repo with proxy
    apt_repository:
      repo: 'ppa:nginx/stable'
      state: present
      codename: trusty
    become: yes
    environment:
      http_proxy: http://192.168.0.1:8888
      https_proxy: http://192.168.0.1:8888
    register: ret
    ignore_errors: yes
  - debug:
      var: ret

  - name: removing repo with proxy
    apt_repository:
      repo: 'ppa:nginx/stable'
      state: absent
      codename: trusty
    become: yes
    environment:
      http_proxy: http://192.168.0.1:8888
      https_proxy: http://192.168.0.1:8888
    register: ret
    ignore_errors: yes
  - debug:
      var: ret