---
- name: testing playbook
  hosts: "{{ target_host | default('sandbox') }}"
  gather_subset:
    - "!hardware"
  tasks:
  - name: demo customer filter
    debug:
      msg: "{{'custom_filter'|hello('random')}}"
  - name: include default test script, ping!
    include_tasks: ping.yml